<div class=" card bg-transparent bg-opacity-75 border-0 mb-3 m-4 p-4">
    <form action="{% url 'edit_admin' %}" method="get">
        <button type='submit' class="bg-transparent text-white" name="user_id" value="{{user.id}}"> Edit Account </button>
    </form>
</div>
<div class=" card bg-transparent bg-opacity-75 border-0 mb-3 m-4 p-4">
    <form action="{% url 'delete_user' %}" method="post">
      {% csrf_token %}
        <button type='submit' class="bg-transparent text-white" name="user_id" value="{{user.id}}"> Delete </button>
    </form>
</div>