{% comment %}
    Partial for rendering a crispy form
    version 2022.12.07
{% endcomment %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
        <div class = "col-12">
            <div class = "card bg-black bg-opacity-50 border-0">
                <div class = "card-header border-0">
                    <h1>{{form.title}}</h1>
                </div>
                <div class= "card-body">
                    {% crispy form %}
                </div>
            </div>
        </div>
    </div>
</div>
