{% comment %}
    Navbar which displays different items depending on a user's clearance.
    Users can be students (1), teachers (2), admin (3) or directors (4)

    version 2022.12.07
{% endcomment %}

<nav class="navbar navbar-expand-lg navbar-dark bg-black bg-opacity-50 shadow border-0 p-2 mb-5">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">

        <img src="../static/images/logo.png" alt="Hornet Music School" width="142" height="50">

      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ms-auto" id="navbarSupportedContent">
        {% if user.is_authenticated %}
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'feed' %}">Feed</a>
          </li>
          {% if user.account_type == 1 %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="lessonsDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Lessons
            </a>
            <ul class="dropdown-menu dropdown-menu-dark bg-black bg-opacity-50" aria-labelledby="lessonsDropdown">
              <li><a class="dropdown-item" href="{% url 'booked_lessons' %}">Lessons</a></li>
              <li><a class="dropdown-item" href="{% url 'make_request' %}">Make Requests</a></li>
              <li><a class="dropdown-item" href="{% url 'pending_requests' %}">Pending Requests</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="paymentDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Payments
            </a>
            <ul class="dropdown-menu dropdown-menu-dark bg-black bg-opacity-50" aria-labelledby="paymentDropdown">
              <li><a class="nav-link" href="{% url 'invoices' %}">Invoices</a></li>
              <li><a class="nav-link" href="{% url 'payment_history' %}"> Payment History </a></li>
            </ul>
          </li>
          {% elif  user.account_type == 2%}
          <li class = "nav-item">
            <a class="nav-link" href="{% url 'booked_lessons' %}">Lessons</a>
          </li>
          {% elif  user.account_type == 3%}
          <li class = "nav-item">
            <a class="nav-link" href="{% url 'show_all_requests' %}">Pending Requests</a>
          </li>
          <li class = "nav-item">
            <a class="nav-link" href="{% url 'submit_payment' %}">Submit Payment</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="usersDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Users
            </a>
            <ul class="dropdown-menu dropdown-menu-dark bg-black bg-opacity-50" aria-labelledby="usersDropdown">
              <li><a class="nav-link" href="{% url 'user_list' account_type=2 %}">Teacher List</a></li>
              <li><a class="nav-link" href="{% url 'user_list' account_type=1 %}">Student List</a></li>
            </ul>
          </li>
          {% elif  user.account_type == 4%}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="usersDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Users
            </a>
            <ul class="dropdown-menu dropdown-menu-dark bg-black bg-opacity-50" aria-labelledby="usersDropdown">
              <li><a class="nav-link" href="{% url 'user_list' account_type=4 %}">Director List</a></li>
              <li><a class="nav-link" href="{% url 'user_list' account_type=3 %}">Admin List</a></li>
              <li><a class="nav-link" href="{% url 'user_list' account_type=2 %}">Teacher List</a></li>
              <li><a class="nav-link" href="{% url 'user_list' account_type=1 %}">Student List</a></li>
            </ul>
          </li>
          <li class = "nav-item">
            <a class="nav-link" href="{% url 'show_all_requests' %}">Pending Requests</a>
          </li>
          <li class = "nav-item">
            <a class="nav-link" href="{% url 'submit_payment' %}">Submit Payment</a>
          </li>
          <li class = "nav-item">
            <a class="nav-link" href="{% url 'open_account' %}">Create Account</a>
          </li>
          {% endif %}
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ request.user.username }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark bg-black bg-opacity-50" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'account_info' %}">Account</a></li>
              <li><hr class="dropdown-divider bg-light"></li>
              <li><a class="dropdown-item" href="{% url 'log_out' %}">Log out</a></li>
            </ul>
          </li>
        </ul>
        {% else %}
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'log_in' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'sign_up' %}">Sign Up</a>
          </li>
        </ul>
        {% endif %}
      </div>
    </div>
  </nav>
