{% extends 'feed.html' %}

{% comment %}
    Template which displays a feed of a user's payments
    version 2022.12.07
{% endcomment %}

{% block feed_content %}
<p><h3>Current Credit(£): {{user.balance}}</h3></p>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Invoice ID</th>
      <th scope="col">Input Amount(£)</th>
      <th scope="col">Balance</th>
    </tr>
  </thead>

    <tbody>
    {% for payment in payments %}
    <tr class="table-success">
      {% for value in payment %}
      <td>{{value}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>




{% endblock %}
