{% comment %}
    Template which displays all unpaid invoices in the music school
    version 2022.12.07
{% endcomment %}

{% extends 'base_content.html' %}
{% block content %}
{% include 'partials/feed_nav.html' %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% for form in forms %}
        {% if form.instance.is_paid == False %}
           {% include 'partials/invoice.html' with invoice=form.instance %}
        {% endif %}
    {% endfor %}
{% endblock %}
